*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.Chamber{
	background-image: url("./Images/dom-fou-YRMWVcdyhmI-unsplash.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

.Shade{
	background-color: rgba(12, 12, 56, 0.501);
	height: 100%;
}

.Navigation-Bar{
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.logo img{
	height: 50px;
	width: 50px;
	color: #fff;

}
.Nav-Menu{
	display: flex;
	justify-content: center;
	align-items: center;
}


.Nav-Menu a{
	text-decoration: none;
	font-size:20px ;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: rgba(255, 255, 255, 0.649);
	padding: 5px;
	margin: 15px 5px 5px 5px;
	transition: all 0.25s ease-out;}

.Nav-Menu a:hover{
   scale: 105%;
  transition:all 0.25s ease-in;
  color: #fff;
}


.Nav-Login img{
	height: 50px;
	width: 50px;
}

/* The Body Split */

.House{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.Class-Name{
	font-size: 40px;
color: white;
margin-top: 130px;
display: grid;
justify-content: center;
align-items: center;
}

.Class-Name h1{
    margin-left: 40px;
	font-weight: 200;
}

.Class-Name h1 span{
	font-weight: 700;
}

.Spin{
	align-self: center;
	height: 70px;
	width: 70px;
	border-right: 1px  solid white;
	border-top: 1px  solid white;
	border-radius: 50%;
	animation: Spinner 1s linear infinite  ;
	margin-left: 45%;
}

@keyframes Spinner {
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(deg);

	}
}

.progress{
	font-size: 20px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.Class-Lectures{
	background-color: rgba(0, 0, 0, 0.49);
	margin-right: 40px;
	margin-top: 50px;
	height: 500px;
	border-radius: 20px;
}

.Lec-Title h1{
	text-align: center;
	font-size: 40px;
	color: white;
	margin-top: 30px;
	font-weight: 300;
}

.Modules{
	display: grid;
grid-template-columns: 1fr 1fr;
	padding: 20px;
}

.ModClass{
	background-color: rgba(12, 12, 56, 0.501);
	margin: 5px ;
	height: 170px;
	border-radius: 10px;
	color: white;
	transition: all 0.5s ease-out;
}

.ModClass:Hover{
	background-color: white;
	color: rgb(12, 12, 56);
	transition: all 0.5s ease-in;

}

.Topic{
	padding-top: 30px;
	padding-left: 15px;
	text-align: left;
	font-size: 26px;
	font-weight: 500;
}

.Explain{
	padding-top: 10px;
	padding-left: 15px;
	text-align: left;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}
